{% extends "users/base.html" %}
{% block content %}
    <main>
        <div class="posts-container">
            <div class="post">
                <span class="username"><a href="{% url 'profile' object.author %}">{{ object.author }}</a></span>
                <p>{{ object.message }}</p>
                <p>{{ object.date_posted }}</p>
                <button>Like </button>
                <button style="float: right;"> Retweet</button>
            </div>
        </div>
    </main>
{% endblock content %}